.fullPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.title {
    font-family: 'Kadwa';
    font-size: 2rem;
    font-weight: bold;
    color: #456796;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 800px; /* Establece un ancho máximo */
    margin-left: 500px;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
}

.scroller {
    width: 100%;
    overflow-y: auto;
}

.noResults {
    color: #FFF;
    font-size: 16px;
    margin-top: 20px;
}

.donacionesContainer {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 700px; /* Ancho máximo para mantener centrado */
    margin: 10px auto; /* Centra el contenedor horizontalmente */
    padding: 10px;
    align-items: center;
    background-color: #ECF7FD;
    border: 3px solid #0B3979;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon {
    font-size: 20px;
    color: #000000;
    margin-left: 10px;
}

.infoDonationContainer {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.infoDonationText, .infoDonadorText, .infoDescription {
    word-wrap: break-word;
}

.infoDonadorText {
    width: 80%;
    font-size: 14px;
    color: #0B3979;
}

.infoDonadorName {
    font-style: italic;
}

.infoDescription {
    width: 80%;
    font-size: 16px;
    font-weight: bold;
    color: #0B3979;
}

@font-face {
    font-family: 'Kadwa';
    src: url('../Styles/Fonts/Kadwa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

