.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}
.HeaderLink{
    margin-right: auto;
    align-items: center;
    text-decoration: none;
}
.MainHeaderSection{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.AppLogo{
    height: 12vmin;
    width: 12vmin;
    pointer-events: none;
    margin-right: 10px;
}
.HeaderText {
    margin: 0;

    font-family: 'Jomhuria', sans-serif;
    font-size: 12vmin;
    color: #75A1DE;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    line-height: 1;
}

.HeaderButtons {
    display: flex;
    gap: 50px;
    margin: 0px 20px;
}
.HeaderButton {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;

    text-decoration: none;
}

.LoginBtn {
    background-color: #75A1DE;
    color: #FEFEFE;
}

.SignUpBtn{
    background-color: #4b5683;
    color: #FEFEFE;
}

.LogoutBtn{
    background-color: #682d43;
    color: #FEFEFE;
}

.HeaderButton .Icon {
    margin-right: 8px;
    font-size: 30px;
}

/*Usamos los fonts importados*/
@font-face {
    font-family: 'Jomhuria';
    src: url('./Fonts/Jomhuria-Regular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

.Header-button:hover {
    background-color: #303d69;
}


