h3{
    margin: 0;
}
p{
    font-family: 'Kadwa', sans-serif;
    font-size: 0.8rem;
}
select{
    width: 200px;
    height: 40px;
}

.SearchedProjectPage{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    gap: 60px;
}

/*Sección nombre del proyecto*/
.ProjectSelector{
    display: flex;
    flex-direction: row;
    max-height: 20vh;
    align-items: center;
    margin: 20px;

    justify-content: flex-start;
    gap: 20px;
}
.ProjectSelector p{
    font-family: 'Kadwa', sans-serif;
    font-size: 1.1rem;
}


/*Sección área de manejo de proyectos*/
.ProjectSection{
    display: flex;
    flex-direction: column;
}
.ProjectsDivision{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.Project{
    display: 1 1 400px;
    padding: 10px;
    flex-direction: column;
    transition: box-shadow 0.2s ease;
    transition: transform 0.3s ease;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

    border-radius: 10px;

    cursor: pointer;
}
.Project:hover{
    transform: scale(1.02);
    transform: translateY(-4px); /* Slight hover effect without scaling */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.TextDescription{
    height: 200px;
    margin: 0;
}
#desc{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*Contenedor de media*/
.mediaContainer{
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 12px;
}
.ImageDisplay, .VideoDisplay {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 12px;
}

/*Sección de usuario*/
.UserDisplay{
    display: flex;
    flex-direction: row;

    align-items: center;
}
.UserIcon{
    padding: 10px;
    width:  40px;
    height: 40px;
    border-radius: 50px;
    background-color: #919eb1;
}
.UserInfo{
    margin: 10px 0;
    margin-left: 10px;
}
.TimeFundsData{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.CalendarIcon{
    margin: 0;
    height: 8px;
    width: 8px;
}

/*Sección de descripción*/
.Description{
    /*Casos que el navegador no lo tenga*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* Limit to 4 lines */
    line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;

    justify-content: center;
    padding: 10px;
    position: absolute;
    
    bottom: -100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7); /*Semitransparente*/
    color: #fefefe;
    transition: bottom 0.4s ease-in-out, opacity 0.4s ease-in-out;
    opacity: 0;
    overflow-wrap: break-word;
}

.Project:hover .Description{
    bottom: 0;
    opacity: 1;
}
.Categories{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 5px;
    gap: 8px;
}
.Category{
    padding: 2px 20px;

    border: 3px solid #75A1DE;
    border-radius: 22px;
    text-transform: capitalize;

    transition: background-color 0.2s ease;
    transition: color 0.2s ease;
    transition: transform 0.3s ease;

    cursor: pointer;
}
.Category:hover{
    background-color: #4f617a;
    color: #aabcbe;
    transform: translateY(-2px);
}


/*Usamos los fonts importados*/
@font-face {
    font-family: 'Jomhuria';
    src: url('./Fonts/Jomhuria-Regular.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'Kadwa';
    src: url('./Fonts/Kadwa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

