/*Diseño de la página en general*/
.SignUpPage{
    display: flex;
    min-height: 100vh;
}

/*Diseño del lado izquierdo (probablemente una imagen o algo)*/
.ContentLeft{
    flex: 1;
    padding: 20px;
}

/*Diseño del lado derecho (contenido del Login)*/
.ContentRight{
    flex: 1;
    padding: 20px;
    background-color: #A8CEFF;
}
.Form{
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
}
.Form h1{
    margin: 4vmin auto 0px auto;

    font-family: 'Jomhuria', sans-serif;
    font-size: 12vmin;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
}
.SectionForm{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}
.InputController{
    display: flex;
    width: 100%;
    margin: 25px 0px;
    flex-direction: column;

    justify-content: center;
}


/*Inputs*/
.Input {
    display: flex;
    align-items: center;
    margin: 0px auto;
    width: 83%;
    padding: 4px 20px;

    background-color: #FEFEFE;
    border-radius: 40px;
}
.Input input{
    height: 5vmin;
    width: 100%;
    margin-right: 8px;
    font-family: 'Kadwa', sans-serif;
    font-size: 0.75rem;
    border: none;
    outline: none;
}
.icon{
    font-size: 1.875rem;
    margin-right: 10px;
}

/*Sección de error*/
.ErrorSection{
    height: 2.4em;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 16px;
}
.ErrorIcon{
    font-size: 1.2rem;
    color: #d32945;
}
.ErrorText{
    margin-left: 1.8vmin;

    font-family: 'Kadwa', sans-serif;
    font-size: 0.625rem;
    color: #d32945;
    text-align: left;
}

.CategoryBtn{
    display: flex;
    justify-content: center;

    margin: 5px auto; 
    padding: 10px 20px;

    background-color: #75A1DE;
    transition: background-color 0.3s;
    cursor: pointer;

    font-family: 'Kadwa', sans-serif;
    font-size: 1.10rem;
    color: #FEFEFE;

    border: 1px solid #FEFEFE;
    border-radius: 5px;
}
.CategoryBtn:hover{
    background-color: #303d69;
}

/*Sección modal de categorías*/
.modalBackdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalContent{
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    text-align: center;
}
.Categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.Category{
    padding: 2px 20px;

    border: 3px solid #75A1DE;
    border-radius: 22px;
    text-transform: capitalize;
}
.SelectCategory{
    margin-top: 6px;

    padding: 6px 20px;
    transition: background-color 0.2ms;
    transition: transform 0.2s;
}
.SelectCategory:hover{
    background-color: #4769b3;
    transform: scale(1.025); /* Slightly enlarge cards on hover */
    border: 3px solid #aabcbe;
    color: #f9f9f9;
    cursor: pointer;
}
.Selected {
    background-color: #A8CEFF;
    transform: scale(1.1);
}
.ButtonGroup{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 20px;
    gap: 30px;
}
.ButtonSection{
    padding: 10px 15px;

    border: none;
    border-radius: 8px;
    background-color: #75A1DE;
    color: #f9f9f9;

    font-family: 'Kadwa', sans-serif;
    font-size: 0.9rem;
    
    cursor: pointer;
    transition: transform 3ms ease-in-out box-shadow 3ms ease-in;
}
.ButtonSection:hover{
    transform: translateY(-3px);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}


.SignupBtn {
    margin: 1.8em auto; 
    width: 35%;
    padding: 10px;

    background-color: #75A1DE;
    transition: background-color 0.3s;
    cursor: pointer;

    font-family: 'Kadwa', sans-serif;
    font-size: 1.25rem;
    color: #FEFEFE;

    border: none;
    border-radius: 6cap;
}
.SignupBtn:hover{
    background-color: #303d69;
}

/*Todos los objetos que tengan manejo clickeable le asignamos ser parte de dicha clase*/
.clickable{
    cursor: pointer;
}

/*Usamos los fonts importados*/
@font-face {
    font-family: 'Jomhuria';
    src: url('./Fonts/Jomhuria-Regular.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'Kadwa';
    src: url('./Fonts/Kadwa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

